<h4 class="header headerFontSize"> Account </h4>
<div class="d-flex mt-4">
  <div class="ml-auto p-2">
    <button class="btn btn-md w-100 shadow-2 action-btn save" (click)="saveUser()">
      <img class="mr-1" alt="" src="../../../../assets/images/done.png" /> Update Profile
    </button>
  </div>
</div>
<app-card cardTitle='Your Basic Information' [options]="false" blockClass="table-border-style">
  <form [formGroup]="form" [ngClass]="{'was-validated':showError}">

    <div class="row">
      <div class="col-md-3">
        <i class="icon feather icon-user" (click)="file.click()" style="font-size: 15rem"></i>
        <input #file type="file" style="visibility: hidden;">
      </div>
      <div class="col-md-9">

        <div class="row mt-2">
          <div class="col-md-12">
            <label for="firstName">Name</label>
            <input formControlName="firstName" id="firstName" name="firstName"
              [ngClass]="{'is-invalid': form.get('firstName').invalid && form.get('firstName').touched}" type="text"
              class="form-control" placeholder="Enter name" />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <label for="phone1">Mobile No</label>
            <input formControlName="phone1" id="phone1" name="phone1"
              [ngClass]="{'is-invalid': form.get('phone1').invalid && form.get('phone1').touched}" type="tel"
              class="form-control" placeholder="XXX-XXX-XXXX" />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <label for="email1">Email</label>
            <input formControlName="email1" id="email1" type="email" name="email1"
              [ngClass]="{'is-invalid': form.get('email1').invalid && form.get('email1').touched}" class="form-control"
              placeholder="lanacaralee@yahoo.com" />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <label for="description">Description</label>
            <textarea formControlName="description" id="description" type="text" name="description"
              [ngClass]="{'is-invalid': form.get('description').invalid && form.get('description').touched}"
              class="form-control" placeholder="I am a composer! Musician."></textarea>
          </div>
        </div>

      </div>
    </div>
  </form>
</app-card>
